.alert {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
    z-index: 1000;
    margin-top: 300px;
  }
  
  .alert-info {
    background-color: #d4edda; /* Green background color for an info alert, change as needed */
    color: #155724; /* Text color for an info alert, change as needed */
  }
  
  .alert-error {
    background-color: #f8d7da; /* Red background color for an error alert, change as needed */
    color: #721c24; /* Text color for an error alert, change as needed */
  }
  