.friendListParent {
    width: 70%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin-top: 100px;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  .listOfFriends {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .friendRequestsNotificationParent button {
    background-color: #c53439;
  }
  
  .friendBox {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .friendName {
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  .goToChat button {
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #0084ff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .goToChat button:hover {
    background-color: #006fce;
  }
  