.choose-muscle-group-container {
    min-height: 100vh;
    font-family: "Google Sans", Arial, Helvetica, sans-serif;
    margin: 0 auto;
    margin-top: 10rem;
    
}

.choose-muscle-group-header{
    
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-align: center;
}

.choose-muscle-group-header h1{
    font-size: 100px;
}

.muscle-group-introduction-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60vh;
    border-radius: 20px;
    margin-bottom: 10rem;


}

.muscle-group-introduction-box-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
    background-color: rgb(233, 240, 253);
    border-radius: 20px;
    margin: 20px;
    
}

.muscle-group-introduction-box-left div {
    margin: 40px;
}

.muscle-group-introduction-box-left h2 {
    font-size: 30px;
    color: black;
    text-align: center;
    font-weight: bold;
}

.muscle-group-introduction-box-left  p {
    font-size: 25px;
    color: #5f6368;
    text-align: center;
    margin: 20px;

}

.muscle-group-introduction-box-right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    background-color: rgb(253, 247, 227);
    border-radius: 20px;
    margin: 20px;
    justify-content: space-between;
    padding: 30px;

}

.muscle-group-introduction-box-right Button {
    background-color: transparent !important;
    color: #000 !important;
    display: space-between;
    margin: 10px;
    width: 50%;
    border-radius: 20px;
    font-size: 20px !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.muscle-group-introduction-box-right Button:hover {
    background-color: #969d96 !important;
}

.main-muscle-box {
    width: 100%;
    margin-bottom: 3rem;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-muscle-box-title {
    color: black;
    display: flex;
    align-items: center;
    width: 100%;
    height: 5rem;
}

.main-muscle-box-title h2 {
    text-align: center;
    font-size: 50px;
}

.main-muscle-box-content {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;

}

.main-muscle-box-content-right {
    /* background-color: rgb(212,233,215); */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.main-muscle-box-content-image {
    border-radius: 20px; /* Makes the image perfectly round */
    width: 80%;
    height: 70%;
    margin: 20px 0;
}


/* Override Bootstrap's button primary variant background color */
.btn-primary {
    background-color: rgb(233, 240, 253) !important;/* Change to your desired background color */
    color: rgb(51, 114, 190) !important;; /* Set text color */
    font-family: "Google Sans", Arial, Helvetica, sans-serif !important;
    border-color: transparent !important; /* Remove border */
    font-size: 30px !important;
}

/* Apply your custom styles */
.muscleGroupButton {
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    margin: 30px;
    max-width: 500px;
}


/* Change button background color on hover */
.muscleGroupButton:hover {
    background-color: #45a049 !important;
}

hr.bg-primary {
    height: 2px; /* Adjust the height as needed */
    border: none; /* Remove default border */
    background-color: #7d7e80 !important; /* Change background color if needed */
    margin: 2rem 0; /* Add margin for spacing */
}

@media (max-width: 1000px) {
    .muscle-group-introduction-box {
      height: auto; /* Let the height adjust dynamically */
    }
  
    .muscle-group-introduction-box-left,
    .muscle-group-introduction-box-right {
      width: 100%; /* Ensure full width on smaller screens */
      margin: 10px 0; /* Reduce margin to avoid overlap */
    }
  
    .main-muscle-box {
      margin-bottom: 1rem; /* Reduce margin between sections */
      height: auto;
    }

    .muscle-group-introduction-box-left h2 {
        font-size: 20px;
    }
    
    .muscle-group-introduction-box-left  p {
        font-size: 20px;
    
    }
    
  }